/* Barra de navegación*/

.navbar {
    padding: 2rem;
    background-color: #f5f6f7;

}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}



/* Estilos Generales de Seccion */

section {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.0rem;
    font-family: 'Rubik Dirt', cursive; 
    
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #615151;
}

.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 1rem;
}
.hero-imagen-desarrollador {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
}

.seccion-oscura {
    color: white;
    background-color: #1b1b32;
}
.seccion-clara {
    color: black;
    background-color: whitesmoke;
}

/* Sobre mí*/

.sobre-mi {
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;

}

.seccion-texto {
    font-size: 1.2rem;

}

.seccion-descripcion {
    text-align: center;
    padding: 5px;
}

/* Experiencia */
.experiencia {
    padding: 40px 40px 60px 40px;
}

.experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
    color: white;
    background-color: #1b1b32;
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;

}

.experiencia i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;

}

.badge {
    margin: 5px;
}

/* Seccion Proyectos / Portfolio*/

.pryectos-recientes {
    padding: 40px;

}

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
}

.texto-negro {
    color: black
}

.texto.blanco {
    color:white
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor {
    padding-top: 60px;
    padding-bottom: 40px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}



.proyecto:hover .overlay {
    opacity: 1;

}

.proyecto:hover img {
    opacity: 0.2;
    
}

.proyecto {
    position: relative;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.overlay i {
    color:black;
    font-size: 50px;
    margin: 10px;
}


.seccion-contacto {
    background: linear-gradient(#43bff0, #0b2aa3);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom:10px ;
    margin: auto;
    border: 5px solid #f5f6f7;
    border-radius: 3%;
}

.selectTrabajos {
    color: #f5f6f7;
}

/* Formulario de elección de trabajos por parte del Usuario */

#otrosTrabajos {
    display: none;
}

.col-12 {
    text-align: center;
    margin: auto;
}
#clientes {
    font-size: 25px;
    text-align: center;
    padding: 5px;
    margin: auto;
}
#nuevoCliente {
    color: red;
    font-size: 35px;
    text-align: center;
    padding: 5px;
    margin: auto;
}

#grandesClientes {
    font-size: 30px;
    color: #0b2aa3;
    padding: 15px;
}

.tituloClientes {
    text-align: center;
    padding: 10px;
    margin: auto;
    font-size: 50px;
}

/* Adaptable responsivo */


@media screen and (max-width: 767px) {  
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .hero-inferior-imagen {
        max-width: 600px;
    }
}
@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }
    
    .overlay i {
        font-size: 40px;
    }
}